.container {
    margin: auto;
    max-width: 800px;
    font-family: "Gill Sans", sans-serif;
}

.heading {
    color: rebeccapurple;
    font-weight: 500;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: black;
}

.site-title {
    font-size: 3rem;
    color: grey;
    font-weight: 300;
    margin: 3rem 0;
}

.image-frame {
    margin: 0;
    background: #eee;
    padding: 1rem;
    border-radius: 1rem;
}

.image-frame-text {
    font-size: 1rem;
    color: grey;
    font-style: italic;
    margin: 0 2rem;
}